<h2>Recently Added</h2>
<div>
    <% books.forEach(book => { %>
        <% if (book.coverImagePath){ %>
            <img height="150" width="100" src="<%=book.coverImagePath%> ">
        <% } %>
    <% }) %> 
</div>